<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="shortcut icon" type="image/x-icon" href="/assets/images/Asterinas icon (in blue).svg">
  <link rel="stylesheet" href="/css/blog.css" media="screen and (min-width: 769px)">
  <link rel="stylesheet" href="/css/blog-mobile.css" media="screen and (max-width: 768px)">
  <link rel="stylesheet" href="/css/site-nav.css">

</head>

<body>
  <div class="header">
    {% include site-nav.html active="blog" %}
  </div>
  <div class="tops">
    <div class="banner">
      <div class="content-container">
        <div data-content="2">
          <div class="blogTitle">Posts</div>
          <div class="blogContent">
            {% assign posts_by_year = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
            {% for year in posts_by_year %}
            <section>
              <h2>{{ year.name }}</h2>
              <div class="blogUl">
                {% for post in year.items %}
                <div class="blogLi">
                  <div>
                    <div class="blogTime">{{ post.date | date: "%b · %d" }}</div>
                    <div class="blogbom"></div>
                  </div>
                  <div class="blogText">{{ post.title }}</div>
                  <div class="blogBut">
                    <span>By {{post.author}}</span>
                    <a class="blogUrl" href="{{ post.url | relative_url }}">READ MORE</a>
                  </div>
                </div>
                {% endfor %}
              </div>
            </section>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <!-- <div class="footer-content">
        <div class="footer-img">
          <a href="/">
            <img class="footer-imgOne" src="/assets/images/twitter.png" alt="img">
          </a>
          <a href="/">
            <img class="footer-imgTwo" src="/assets/images/flow.png" alt="img">
          </a>
          <a href="/">
            <img class="footer-imgTwo" src="/assets/images/photo.png" alt="img">
          </a>
          <a href="/">
            <img class="footer-imgThree" src="/assets/images/email.png" alt="img">
          </a>
        </div>
        <div class="footer-title">
          备案文案备案文案备案文案备案文案
        </div>
      </div> -->

    </div>
  </div>
</body>

<script src="/js/site-nav.js"></script>

</html>
