<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="shortcut icon" type="image/x-icon" href="/assets/images/Asterinas icon (in blue).svg">
  <link rel="stylesheet" href="/css/style.css" media="screen and (min-width: 769px)">
  <link rel="stylesheet" href="/css/style-mobile.css" media="screen and (max-width: 768px)">

</head>

<body>
  <div class="header">
    <div class="hdImgBox">
      <a href="/">
        <img src="/assets/images/homeIcon.png" alt="img">
      </a>
    </div>
    <div class="hdLink">
      <div data-tab="1" class="tab" style="color:#fff">Home
        <div class="dot"></div>
      </div>
      <div data-tab="2" class="tab">Blog</div>
      <div data-tab="3" class="tab">Docs</div>
    </div>
    <div class="hdLinks">
      <div style="cursor: pointer;">
        <img src="/assets/images/navigation.jpg" alt="img">
      </div>
      <div class="tabItem" flot="false">
        <div data-tab="1" class="tab" style="color:#fff;font-weight: 500;"><div class="dot"></div>Home</div>
        <div class="line"></div>
        <div data-tab="2" class="tab">Blog</div>
        <div class="line"></div>
        <div data-tab="3" class="tab">Docs</div>
      </div>
    </div>
  </div>
  <div class="tops">
    <div class="banner">
      <div class="content-container">
        <div data-content="1">
          <div class="maskwrap"></div>
          <div class="overlay">
            <div class="left"></div>
            <div class="right"></div>
          </div>
          <div class="overlaynon">
            <div>
              <div class="overlaynon-bnBox">
                <div class="bnTitle">
                  Forge the future of Rust OSes
                </div>
                <div class="bnText">
                  Asterinas is an open-source community dedicated to crafting the<br>
                  next-generation OS kernels using Rust with the framekernel architecture
                </div>
                <div class="bnText-mobile">
                  Asterinas is an open-source community dedicated to crafting the next-generation<br>
                  OS kernels using Rust with the framekernel architecture
                </div>
              </div>
            </div>
            <div class="tabs">
              <div class="tab-headers">
                <div class="tab-header active"
                  style="border-bottom-left-radius: 1.785rem; border-top-left-radius: 1.785rem; border-bottom-right-radius: 0; border-top-right-radius: 0;"
                  data-tab="tab1">Asterinas</div>
                <div class="tab-header" data-tab="tab2">OSDK</div>
              </div>
              <div class="tab-bodies">
                <div class="tab-block active" id="tab1">
                  <div class="tab-body">
                    <div>
                      <div class="tab-body-h">
                        Introduce Asterinas
                      </div>
                      <p class="tb-text">
                        Asterinas is a Rust OS kernel designed to offer the following distinctive features:
                      </p>
                      <div class="tb-feature">
                        <div class="tb-featureOne">
                          <img src="/assets/images/Strong.png" alt="img">
                          <div class="tb-featureBox">
                            <div class="tb-feature-title">
                              Strong Security
                            </div>
                            <div class="tb-feature-line"></div>
                            <div class="tb-feature-text">
                              Fortified against security vulnerabilities, <br>
                              including memory safety concerns
                            </div>
                          </div>

                        </div>
                        <div class="tb-featureTwo">
                          <img src="/assets/images/Excellent.png" alt="img">
                          <div class="tb-featureBox">
                            <div class="tb-feature-title">
                              Excellent Performance
                            </div>
                            <div class="tb-feature-line"></div>
                            <div class="tb-feature-text">
                              Delivering top-tier performance <br>
                              benchmarks
                            </div>
                          </div>

                        </div>
                        <div class="tb-featureThree">
                          <img src="/assets/images/Broad.png" alt="img">
                          <div class="tb-featureBox">
                            <div class="tb-feature-title">
                              Broad Usage
                            </div>
                            <div class="tb-feature-line"></div>
                            <div class="tb-feature-text">
                              Suitable to a wide array of hardware <br>
                              platforms and usage scenarios
                            </div>
                          </div>

                        </div>
                        <div class="tb-featureFour">
                          <img src="/assets/images/Seamless.png" alt="img">
                          <div class="tb-featureBox">
                            <div class="tb-feature-title">
                              Seamless Compatibility
                            </div>
                            <div class="tb-feature-line"></div>
                            <div class="tb-feature-text">
                              Effortlessly running Linux applications <br>
                              without any need for modifications
                            </div>
                          </div>

                        </div>
                      </div>
                      <p class="tb-text">
                        The strong security and excellent performance of the Asterinas Kernel stem from its innovative
                        <span>framekernel</span> architecture.
                      </p>
                    </div>

                  </div>
                </div>
                <!-- 选项卡OSDK样式框 -->
                <div class="tab-block" id="tab2">
                  <div class="tab-body">
                    <div>
                      <div class="tab-body-h">
                        Introduce OSDK
                      </div>
                      <p class="tb-text">
                        Asterinas Operating System Development Kit (OSDK) helps OS devs to create, build, run, and test
                        Rust
                        projects for OS kernels effortless. Imagine crafting kernels with the same simplicity as apps!
                      </p>
                      <!-- 选项卡具体内容样式框 -->
                      <div class="tb-introduce">
                        <!-- 左侧选项卡样式 -->
                        <div class="ti-left">
                          <div class="tl-jump actives" data-tab="tabs1">
                            <div class="tl-jumpImg">
                              <img style="width: 2rem;" src="/assets/images/jump.png" alt="img">
                            </div>
                            Jump start
                          </div>
                          <div class="tl-jump" data-tab="tabs2">
                            <div class="tl-jumpImg">
                              <img style="width: 1.3rem;" src="/assets/images/crate.png" alt="img">
                            </div>
                            Crate reuse
                          </div>
                          <div class="tl-jump" data-tab="tabs3">
                            <div class="tl-jumpImg">
                              <img style="width: 1.3rem;" src="/assets/images/rapid.png" alt="img">
                            </div>
                            Rapid testing
                          </div>
                          <div class="tl-jump" data-tab="tabs4">
                            <div class="tl-jumpImg">
                              <img style="width: 1.3rem;" src="/assets/images/safe.png" alt="img">
                            </div>
                            Safe coding
                          </div>
                        </div>
                        <div class="ti-lefts">
                          <div class="ti-lefts-boxs">
                            <div class="tl-jump-all">
                              <div class="tl-jumps actives-mobile" data-tab="mobile-tabs1">
                                <div class="ti-lefts-box">
                                  <div class="tl-jumpImgs" style="margin-left: -0.3rem; margin-right: .45rem;">
                                    <img style="width: 2rem;" src="/assets/images/jump-mobile.png" alt="img">
                                  </div>
                                  Jump start
                                </div>
                                <img class="ti-direction" src="/assets/images/direction.png" alt="img">
                              </div>
                              <!-- 第一个Jump start样式框 -->
                              <div class="ti-rights-box actives-mobile" id="mobile-tabs1">
                                <div class="ti-right-content">
                                  <p class="ti-text">
                                    With OSDK, you can start building your own Rust OS kernel with three simple steps.
                                  </p>
                                  <div class="ti-jump" style="padding-top: 0;">
                                    <div class="ti-jump-title">
                                      <span>1.</span>
                                      Install Asterinas OSDK
                                    </div>
                                    <div class="ti-jump-text">
                                      cargo install cargo-osdk
                                    </div>
                                  </div>
                                  <div class="ti-jump">
                                    <div class="ti-jump-title">
                                      <span>2.</span>
                                      Create a Rust project for your "Hello World" kernel.
                                    </div>
                                    <div class="ti-jump-text">
                                      cargo osdk new my-first-os --kernel
                                    </div>
                                  </div>
                                  <div class="ti-jump">
                                    <div class="ti-jump-title">
                                      <span>3.</span>
                                      Compile the kernel, generate a bootable image, and run it in a VM with just one
                                      single
                                      command.
                                    </div>
                                    <div class="ti-jump-text">
                                      cd my-first-os && cargo osdk run
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="tl-jump-all">
                              <div class="tl-jumps" data-tab="mobile-tabs2">
                                <div class="ti-lefts-box">
                                  <div class="tl-jumpImgs">
                                    <img style="width: 1.3rem;" src="/assets/images/crate-mobile.png" alt="img">
                                  </div>
                                  Crate reuse
                                </div>
                                <img class="ti-direction" src="/assets/images/direction.png" alt="img">
                              </div>
                              <!-- 第一个Rapid testing样式框 -->
                              <div class="ti-rights-box" id="mobile-tabs2">
                                <div class="ti-right-content ">
                                  <div>
                                    <p class="ti-text">
                                      All OSDK-based Rust crates for an OS kernel or library share a common foundation,
                                      a crate called <a href="https://docs.rs/ostd/latest/ostd/">ostd</a>.
                                      This fosters a more vibrant ecosystem of OS crates,
                                      reusable across different Rust OSes.
                                    </p>
                                    <img class="acimg" style="margin-top: .4rem;" src="/assets/images/reusable.png"
                                      alt="img">
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="tl-jump-all">
                              <div class="tl-jumps" data-tab="mobile-tabs3">
                                <div class="ti-lefts-box">
                                  <div class="tl-jumpImgs">
                                    <img style="width: 1.3rem;" src="/assets/images/rapid-mobile.png" alt="img">
                                  </div>
                                  Rapid testing
                                </div>
                                <img class="ti-direction" src="/assets/images/direction.png" alt="img">
                              </div>
                              <!-- 第一个Rapid testing样式框 -->
                              <div class="ti-rights-box" id="mobile-tabs3">
                                <div class="ti-right-content">
                                  <div class="ti-jump">
                                    <div class="ti-jump-title">
                                      Writing unit tests for OSDK-based Rust projects is a breeze with ktest.
                                    </div>
                                    <div>
                                      <pre class="ti-jump-code">
                              <code >#<span style="color: #FF6BF9;">[</span>cfg<span style="color: #FF6BF9;">(</span>ktest<span style="color: #FF6BF9;">)]</span> 
<span style="color: #00B7BD;">mod</span> tests <span style="color: #FF6BF9;">{</span>
    #<span style="color: #FF6BF9;">[</span>ktest<span style="color: #FF6BF9;">]</span>
    <span style="color: #00B7BD;">fn it_works</span><span style="color: #FF6BF9;">() {</span>
        <span style="color: #00B7BD;">assert_eq</span><span style="color: #FF6BF9;">!(</span><span style="color: #00B7BD;">true</span>, <span style="color: #00B7BD;">true</span><span style="color: #FF6BF9;">)</span>;
    <span style="color: #FF6BF9;">}</span>
<span style="color: #FF6BF9;">}</span>
                              </code>
                            </pre>
                                    </div>
                                  </div>
                                  <div class="ti-jump">
                                    <div class="ti-jump-title">
                                      Running these unit tests in the kernel mode can be done with a simple command:
                                    </div>
                                    <div class="ti-jump-text">
                                      cargo osdk test
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="tl-jump-all">
                              <div class="tl-jumps" data-tab="mobile-tabs4">
                                <div class="ti-lefts-box">
                                  <div class="tl-jumpImgs">
                                    <img style="width: 1.3rem;" src="/assets/images/safe-mobile.png" alt="img">
                                  </div>
                                  Safe coding
                                </div>
                                <img class="ti-direction" src="/assets/images/direction.png" alt="img">
                              </div>
                              <!-- 第一个Safe coding样式框 -->
                              <div class="ti-rights-box" id="mobile-tabs4">
                                <div class="ti-right-content ">
                                  <div>
                                    <p class="ti-text">
                                      OSDK is based on <a href="https://docs.rs/ostd/latest/ostd/">ostd</a>,
                                      a minimal, expressive, and solid foundation
                                      that enables OS devs to implement OS functionalities on top of it in safe Rust.
                                    </p>
                                    <p class="ti-text" style="margin-top: .4rem;">
                                      The effectiveness of ostd has been validated by our extensive experience in
                                      developing Asterinas. In Asterinas, all unsafe Rust code is confined to
                                      ostd,
                                      whereas the rest of the kernel, including all drivers for peripheral devices, is
                                      composed of safe Rust code exclusively.
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                        <!-- 选项卡右侧样式框 -->
                        <div class="ti-right">
                          <!-- 第一个Jump start样式框 -->
                          <div class="ti-right-box actives" id="tabs1">
                            <div class="ti-right-content">
                              <p class="ti-text">
                                With OSDK, you can start building your own Rust OS kernel with three simple steps.
                              </p>
                              <div class="ti-jump">
                                <div class="ti-jump-title">
                                  <span>1.</span>
                                  Install Asterinas OSDK
                                </div>
                                <div class="ti-jump-text">
                                  cargo install cargo-osdk
                                </div>
                              </div>
                              <div class="ti-jump">
                                <div class="ti-jump-title">
                                  <span>2.</span>
                                  Create a Rust project for your "Hello World" kernel.
                                </div>
                                <div class="ti-jump-text">
                                  cargo osdk new my-first-os --kernel
                                </div>
                              </div>
                              <div class="ti-jump">
                                <div class="ti-jump-title">
                                  <span>3.</span>
                                  Compile the kernel, generate a bootable image, and run it in a VM with just one single
                                  command.
                                </div>
                                <div class="ti-jump-text">
                                  cd my-first-os && cargo osdk run
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- 第一个Rapid testing样式框 -->
                          <div class="ti-right-box " id="tabs3">
                            <div class="ti-right-content ">
                              <div class="ti-jump">
                                <div class="ti-jump-title">
                                  Writing unit tests for OSDK-based Rust projects is a breeze with ktest.
                                </div>
                                <div>
                                  <pre class="ti-jump-code">
                              <code >#<span style="color: #FF6BF9;">[</span>cfg<span style="color: #FF6BF9;">(</span>ktest<span style="color: #FF6BF9;">)]</span> 
<span style="color: #00B7BD;">mod</span> tests <span style="color: #FF6BF9;">{</span>
    #<span style="color: #FF6BF9;">[</span>ktest<span style="color: #FF6BF9;">]</span>
    <span style="color: #00B7BD;">fn it_works</span><span style="color: #FF6BF9;">() {</span>
        <span style="color: #00B7BD;">assert_eq</span><span style="color: #FF6BF9;">!(</span><span style="color: #00B7BD;">true</span>, <span style="color: #00B7BD;">true</span><span style="color: #FF6BF9;">)</span>;
    <span style="color: #FF6BF9;">}</span>
<span style="color: #FF6BF9;">}</span>
                              </code>
                            </pre>
                                </div>
                              </div>
                              <div class="ti-jump">
                                <div class="ti-jump-title">
                                  Running these unit tests in the kernel mode can be done with a simple command:
                                </div>
                                <div class="ti-jump-text">
                                  cargo osdk test
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- 第一个Crate reuse样式框 -->
                          <div class="ti-right-box " id="tabs2">
                            <div class="ti-right-content ">
                              <div>
                                <p class="ti-text">
                                  All OSDK-based Rust crates for an OS kernel or library share a common foundation,
                                  a crate called <a href="https://docs.rs/ostd/latest/ostd/">ostd</a>.
                                  This fosters a more vibrant ecosystem of OS crates, reusable
                                  across different Rust OSes.
                                </p>
                                <img class="acimg" style="margin-top: .4rem;" src="/assets/images/reusable.png"
                                  alt="img">
                              </div>
                            </div>
                          </div>
                          <!-- 第一个Safe coding样式框 -->
                          <div class="ti-right-box " id="tabs4">
                            <div class="ti-right-content ">
                              <div>
                                <p class="ti-text">
                                  OSDK is based on <a href="https://docs.rs/ostd/latest/ostd/">ostd</a>,
                                  a minimal, expressive, and solid foundation that enables
                                  OS devs to implement OS functionalities on top of it in safe Rust.
                                </p>
                                <p class="ti-text" style="margin-top: .4rem;">
                                  The effectiveness of ostd has been validated by our extensive experience in
                                  developing Asterinas. In Asterinas, all unsafe Rust code is confined to ostd,
                                  whereas the rest of the kernel, including all drivers for peripheral devices, is
                                  composed of safe Rust code exclusively.
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <p class="tb-text">
                        OSDK can be utilized to build any Rust kernel based on the framekernel architecture: Asterinas
                        is
                        built with OSDK; your kernel can too!
                      </p>
                    </div>
                    <div>
                      <div>
                        <div class="tb-seeBoxs">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <span></span> -->
                <div>
                  <div>
                    <div class="tab-body-hTwo">
                      Why a framekernel?
                    </div>
                    <div class="speed">

                      <span class="speed-span">
                        <span><img class="speed-img" src="/assets/images/yinone.png" alt="img"></span>
                        The speed of a monolithic kernel, the security of a microkernel
                        <span><img class="speed-img" src="/assets/images/yintow.png" alt="img"></span>

                      </span>
                      <img class="speed-imgone" src="/assets/images/yinthree.png" alt="img">
                    </div>
                    <div class="tb-text">
                      Asterinas adopts the novel framekernel OS architecture, which unleashes the full power of Rust
                      to
                      bring
                      the best of both monolithic kernels and microkernels.
                    </div>
                    <div class="tb-titleBox">
                      <div class="tb-title">
                        A comparison between different OS architectures
                      </div>
                    </div>
                    <div class="tb-osBox">
                      <div class="tb-oscon">
                        <img src="/assets/images/monolithic.png" alt="img">
                        <div class="tb-oscon-intBox">
                          <div class="tb-oscon-introduce">
                            <img class="tb-oscon-tcb" src="/assets/images/tcb.png" alt="img">
                            <span>TCB</span>
                          </div>
                          <div class="tb-oscon-introduce" style="margin-right: .4rem;">
                            <img class="tb-oscon-tcb" src="/assets/images/nontcb.png" alt="img">
                            <span>Non-TCB</span>
                          </div>
                        </div>
                      </div>
                      <div class="tb-oscon">
                        <img src="/assets/images/microkernel.png" alt="img">
                        <div class="tb-oscon-introduce">
                          <img class="tb-oscon-slow" src="/assets/images/slow.png" alt="img">
                          <span>Slow path (e.g., syscall, RPG)</span>
                        </div>
                      </div>
                      <div class="tb-oscon">
                        <img src="/assets/images/framekernel.png" alt="img">
                        <div class="tb-oscon-introduce">
                          <img class="tb-oscon-fast" src="/assets/images/fast.png" alt="img">
                          <span>Fast path (e.g., func call)</span>
                        </div>
                      </div>
                    </div>
                    <div class="tb-osBox-mobile">
                      <div id="carousel" class="carousel">
                        <div class="carousel-item" ><img src="/assets/images/monolithic-mobile.png"
                            alt="Image 1"></div>
                        <div class="carousel-item" ><img src="/assets/images/frame-mobile.png"
                            alt="Image 2"></div>
                        <div class="carousel-item" ><img src="/assets/images/micro-mobile.png"
                            alt="Image 3"></div>
                      </div>
                      <div class="tb-oscon-intBox">
                        <div class="tb-oscon-introduce">
                          <img class="tb-oscon-tcb" src="/assets/images/tcb.png" alt="img">
                          <span>TCB</span>
                        </div>
                        <div class="tb-oscon-introduce">
                          <img class="tb-oscon-tcb" src="/assets/images/nontcb.png" alt="img">
                          <span>Non-TCB</span>
                        </div>
                        <div class="tb-oscon-introduce">
                          <img class="tb-oscon-slow" src="/assets/images/slow.png" alt="img">
                          <span>Slow path</span>
                        </div>
                        <div class="tb-oscon-introduce">
                          <img class="tb-oscon-fast" src="/assets/images/fast.png" alt="img">
                          <span>Fast path</span>
                        </div>
                      </div>
                    </div>
                    <div class="tb-text">
                      In the framekernel OS architecture, the entire OS resides in the same address space (like a
                      monolithic

                      kernel) and is required to be written in Rust. However, there's a twist---the kernel is
                      partitioned
                      in
                      two
                      halves: the privileged Framework (akin to a microkernel) and the unprivileged Services. Only
                      the
                      privileged
                      Framework is allowed to use unsafe features of Rust, while the unprivileged Services must be
                      written
                      exclusively in safe Rust.
                    </div>
                    <div class="tb-text" style="margin-top: .31rem;">
                      The memory safety of the entire kernel is reduced to that of the Framework, a minimal,
                      expressive,
                      and

                      rock-solid foundation. Residing in the same address space, the rest of the kernel can
                      communicate
                      with

                      the Framework in the most efficient way.
                    </div>
                  </div>
                  <div>
                    <div class="tab-body-hTwo" style="width: 11.25rem;">
                      Get involved
                    </div>
                    <div class="tb-text">
                      We are committed to creating a fully-fledged, production-grade OS kernel, and we recognize
                      that
                      nurturing our community of individual kernel developers is critical to achieving this goal.
                      Thus,
                      the
                      Asterinas community prioritizes developer productivity and happiness.
                    </div>
                    <div class="tb-get-box">
                      <div class="tb-get">
                        <div class="tb-get-titleBox">
                          <div class="tb-get-title">
                            Streamlined
                            Workflow
                          </div>
                          <div class="tb-get-titles">
                            Comprehensive
                            Docs
                          </div>
                          <div class="tb-get-title">
                            Weak
                            Copyleft
                          </div>
                        </div>
                        <div class="tb-get-textBox">
                          <div class="tb-get-text">
                            <div>
                              With OSDK, our kernel developers enjoy the same seamless experience
                              as Rust app developers.
                              Building and testing OS components or the entire OS kernel is
                              as intuitive and efficient as ever.
                            </div>
                          </div>
                          <div class="tb-get-texts">
                            <div>
                              We pride ourselves on providing comprehensive documentation.
                              Check out <a href="/book">The Asterinas Book</a> to learn more about Asterinas's technical details.
                            </div>
                          </div>
                          <div class="tb-get-text">
                            <div>
                              Join a community dedicated to openness and freedom.
                              Asterinas adopts <a href="https://www.mozilla.org/en-US/MPL/">the Mozilla Public License ("MPL")</a>
                              to ensure that the project is free to the entire human race and remains so forever.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tb-text">
                      The source code is hosted on <a href="https://github.com/asterinas/asterinas">GitHub</a>.
                      Join the vibrant <a href="https://asterinas.zulipchat.com/">developer community</a>, and be part of shaping the future of OS development with Asterinas.
                    </div>
                  </div>
                  <div>
                    <div class="tab-body-hTwo" style="width: 9.4rem;">
                      Thank you
                    </div>
                    <div class="tb-text">
                      We express our heartfelt gratitude to the contributors who have made this project a reality.
                    </div>
                    <div class="tb-seeBox">
                      <button class="tb-see">
                        <div class="tb-see-title">
                          See individual contributors
                        </div>
                        <img src="/assets/images/right.png" alt="img">
                      </button>
                    </div>

                    <div class="tb-text">
                      Asterinas is proud to be supported by forward-thinking organizations that believe in our
                      mission.
                      We're
                      immensely grateful for their sponsorship.
                    </div>
                  </div>
                  <div class="tb-support">
                    <a class="tb-supporta" href="https://www.antgroup.com/en">
                      <img class="tb-supporta-one" src="/assets/images/ant.png" alt="img">
                    </a>
                    <a class="tb-supporta" href="https://english.pku.edu.cn/">
                      <img class="tb-supporta-two" src="/assets/images/peking.png" alt="img">

                    </a>
                    <a class="tb-supporta" href="https://www.intel.com/content/www/us/en/homepage.html">
                      <img class="tb-supporta-three" src="/assets/images/intel.png" alt="img">

                    </a>
                    <a class="tb-supporta" href="https://www.sustech.edu.cn/en/">
                      <img class="tb-supporta-four" src="/assets/images/sust.png" alt="img">

                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <!-- <div class="footer-content">
        <div class="footer-img">
          <a href="/">
            <img class="footer-imgOne" src="/assets/images/twitter.png" alt="img">
          </a>
          <a href="/">
            <img class="footer-imgTwo" src="/assets/images/flow.png" alt="img">
          </a>
          <a href="/">
            <img class="footer-imgTwo" src="/assets/images/photo.png" alt="img">
          </a>
          <a href="/">
            <img class="footer-imgThree" src="/assets/images/email.png" alt="img">
          </a>
        </div>
        <div class="footer-title">
          备案文案备案文案备案文案备案文案
        </div>
      </div> -->

    </div>
  </div>

  <script>

    var tabs = document.querySelectorAll('.tab');
    tabs.forEach(function (tab) {
      tab.addEventListener('click', function () {
        var tabId = this.getAttribute('data-tab');
        if (tabId === '1') {
          window.location.href = '/index.html';
        } else if (tabId === '2') {
          window.location.href = '/blog.html';
        } else if (tabId === '3') {
          window.location.href = 'https://asterinas.github.io/book';
        }
      });

    })


    window.addEventListener('DOMContentLoaded', function () {
      const screenWidth = window.innerWidth;
      const overlay = document.querySelector('.overlay');
      if (screenWidth > 1920) {
        overlay.style.display = 'block';
      } else {
        overlay.style.display = 'none';
      }
      // 监听窗口大小变化事件
      window.addEventListener('resize', function () {
        const currentScreenWidth = window.innerWidth;
        if (currentScreenWidth > 1920) {
          overlay.style.display = 'block';
        } else {
          overlay.style.display = 'none';
        }
      })
    })



    // 获取所有的选项卡头部和内容区域
    const headers = document.querySelectorAll('.tab-header');
    const bodies = document.querySelectorAll('.tab-block');
    const jumps = document.querySelectorAll('.tl-jump');
    const rcontents = document.querySelectorAll('.ti-right-box');
    const jumpsMobile = document.querySelectorAll('.tl-jumps');
    const rcontentsMobile = document.querySelectorAll('.ti-rights-box');
    // 绑定点击事件
    headers.forEach(header => {
      header.addEventListener('click', function () {
        // 移除所有选项卡头部和内容区域的active类
        headers.forEach(h => h.classList.remove('active'));
        bodies.forEach(b => b.classList.remove('active'));

        // 给当前点击的选项卡头部添加active类
        this.classList.add('active');

        // 根据data-tab属性找到对应的内容区域并添加active类
        const activeTab = document.getElementById(this.dataset.tab);
        activeTab.classList.add('active');
      });
    });

    jumps.forEach(jump => {
      jump.addEventListener('click', function () {
        // 移除所有选项卡头部和内容区域的active类
        jumps.forEach(h => h.classList.remove('actives'));
        rcontents.forEach(b => b.classList.remove('actives'));

        // 给当前点击的选项卡头部添加active类
        this.classList.add('actives');

        // 根据data-tab属性找到对应的内容区域并添加active类
        const activeTab = document.getElementById(this.dataset.tab);
        activeTab.classList.add('actives');
      });
    });

    jumpsMobile.forEach(jump => {
      jump.addEventListener('click', function () {
        // 移除所有选项卡头部和内容区域的active类
        jumpsMobile.forEach(h => h.classList.remove('actives-mobile'));
        rcontentsMobile.forEach(b => b.classList.remove('actives-mobile'));

        // 给当前点击的选项卡头部添加active类
        this.classList.add('actives-mobile');

        // 根据data-tab属性找到对应的内容区域并添加active类
        const activeTab = document.getElementById(this.dataset.tab);
        activeTab.classList.add('actives-mobile');
      });
    });

    const seeBox = document.querySelectorAll('.tb-seeBox');
    seeBox[0].addEventListener('click', function () {
      window.location.href = '/contributors.html';
    })

    const seeBoxs = document.querySelectorAll('.tb-seeBoxs');
    seeBoxs[0].addEventListener('click', function () {
      window.location.href = '/contributors.html';
    })

    // 获取所有的图片元素
    let carouselItems = document.querySelectorAll('.carousel-item');

    // 初始化轮播位置
    carouselItems[0].classList.add('left');
    carouselItems[1].classList.add('center');
    carouselItems[2].classList.add('right');

    // 重新排列图片类
    function moveToCenter(item) {
      // 移除所有类
      carouselItems.forEach(el => el.classList.remove('left', 'center', 'right'));

      // 获取点击项的索引
      const index = Array.from(carouselItems).indexOf(item);

      // 根据索引排列类
      carouselItems[(index + 2) % 3].classList.add('left');
      carouselItems[index].classList.add('center');
      carouselItems[(index + 1) % 3].classList.add('right');
    }

    // 绑定点击事件到每一个carousel item
    carouselItems.forEach(item =>
      item.addEventListener('click', () => moveToCenter(item))
    );

    // 触摸滑动事件处理
    let startX;
    const touchThreshold = 50; // 触摸滑动的阈值

    const carousel = document.getElementById('carousel');
    carousel.addEventListener('touchstart', e => {
      startX = e.touches[0].clientX;
    }, false);

    carousel.addEventListener('touchend', e => {
      const endX = e.changedTouches[0].clientX;
      const centerItem = carousel.querySelector('.center');
      const leftItem = carousel.querySelector('.left');
      const rightItem = carousel.querySelector('.right');

      if (startX - endX > touchThreshold) {
        // 向左滑动
        moveToCenter(rightItem);
      } else if (startX - endX < -touchThreshold) {
        // 向右滑动
        moveToCenter(leftItem);
      }
    }, false);


    window.addEventListener('DOMContentLoaded', function () {
      const screenWidth = window.innerWidth;
      const hdLink = document.querySelectorAll('.hdLink');
      const hdLinks = document.querySelectorAll('.hdLinks');
      console.log(screenWidth)
      if (screenWidth > 768) {
        console.log(111)
        hdLink[0].style.display = 'flex';
        hdLinks[0].style.display = 'none';
      } else {
        console.log(222)
        hdLink[0].style.display = 'none';
        hdLinks[0].style.display = 'block';
      }

      // 监听窗口大小变化事件
      window.addEventListener('resize', function () {
        const currentScreenWidth = window.innerWidth;
        if (currentScreenWidth > 768) {
          hdLink[0].style.display = 'flex';
          hdLinks[0].style.display = 'none';
        } else {
          hdLink[0].style.display = 'none';
          hdLinks[0].style.display = 'block';
        }
      })
    });

    const hdLinks = document.querySelectorAll('.hdLinks');
    const tabItem = document.querySelectorAll('.tabItem');
    hdLinks[0].addEventListener('click', function () {
      if (tabItem[0].getAttribute('flot') === 'false') {
        tabItem[0].style.display = 'block';
        tabItem[0].setAttribute('flot', true);
      } else {
        tabItem[0].style.display = 'none';
        tabItem[0].setAttribute('flot', 'false');
      }
    });

    window.onclick = (event) => {
      if (event.target !== tabItem[0] && event.target !== hdLinks[0].children[0].children[0]) {
        tabItem[0].style.display = 'none';
        tabItem[0].setAttribute('flot', 'false');
      }
    }

  </script>
</body>

</html>