<!-- _layouts/custom.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="shortcut icon" type="image/x-icon" href="/assets/images/Asterinas icon (in blue).svg">
  <link rel="stylesheet" href="/css/post.css" media="screen and (min-width: 769px)">
  <link rel="stylesheet" href="/css/post-mobile.css" media="screen and (max-width: 768px)">
  <link rel="stylesheet" href="/css/site-nav.css">
</head>

<body>
  <div class="header">
    {% include site-nav.html active="blog" %}
  </div>
  <div class="tops">
    <div class="banner">
      <div class="content-container">
        <div class="blogTitle">Posts</div>
        <header class="postHeader">
          <h1>{{page.title}}</h1>
          <p class="post-meta">
            <time class="headertime">{{ page.date | date: "%b . %-d / %Y" }}</time>
            <span class="headerctr">|</span>
            <span class="headerauthor">Authors：{{page.author}}</span>
          </p>
        </header>
        <header class="postHeader1">
          <time class="headertime">{{ page.date | date: "%b . %-d / %Y" }}</time>
          <h1>{{page.title}}</h1>
          <span class="headerauthor">By {{page.author}}</span>
        </header>
        <main>
          {{page.content}}
        </main>
      </div>
    </div>
    <div class="footer">
      <!-- <div class="footer-content">
        <div class="footer-img">
          <a href="/">
            <img class="footer-imgOne" src="/assets/images/twitter.png" alt="img">
          </a>
          <a href="/">
            <img class="footer-imgTwo" src="/assets/images/flow.png" alt="img">
          </a>
          <a href="/">
            <img class="footer-imgTwo" src="/assets/images/photo.png" alt="img">
          </a>
          <a href="/">
            <img class="footer-imgThree" src="/assets/images/email.png" alt="img">
          </a>
        </div>
        <div class="footer-title">
          备案文案备案文案备案文案备案文案
        </div>
      </div> -->
    </div>
  </div>

</body>

<script>
  window.addEventListener('DOMContentLoaded', function () {
    const screenWidth = window.innerWidth;
    const blogTitle = document.querySelectorAll('.blogTitle');
    const postHeader1 = document.querySelectorAll('.postHeader1');
    const postHeader = document.querySelectorAll('.postHeader');
    if (screenWidth > 768) {
      blogTitle[0].style.display = 'block';
      postHeader[0].style.display = 'block';
      postHeader1[0].style.display = 'none';
    } else {
      blogTitle[0].style.display = 'none';
      postHeader[0].style.display = 'none';
      postHeader1[0].style.display = 'block';
    }

    // 监听窗口大小变化事件
    window.addEventListener('resize', function () {
      const currentScreenWidth = window.innerWidth;
      if (currentScreenWidth > 768) {
        blogTitle[0].style.display = 'block';
        postHeader[0].style.display = 'block';
        postHeader1[0].style.display = 'none';
      } else {
        blogTitle[0].style.display = 'none';
        postHeader[0].style.display = 'none';
        postHeader1[0].style.display = 'block';
      }
    })
  });
</script>
<script src="/js/site-nav.js"></script>

</html>
